# =============================================================================
#
# @package    dierx-nester-visuals
#             for Dierx on render 
# 
# @version    v0.0.8  2024-07-24
# @author     pierre@ipheion.eu
# @copyright  (C) 2022-2023 Pierre Veelen
#
# =============================================================================

# GENERIC DATA WRANGLING
#pandas==1.2.5
##pandas==2.0.1
pandas==2.2.2
lxml==5.2.2


# GEO DATA WRANGLING
#shapely==1.8.2
##shapely==2.0.1
shapely==2.0.5


# DATA VISUALISATION
#plotly==5.7.0
#dash==2.3.1
#dash-bootstrap-components==1.1.0
##plotly==5.14.1
##dash==2.9.3
##dash-bootstrap-components==1.4.1
##dash-daq==0.5.0
plotly==5.23.0
dash==2.17.1
dash-bootstrap-components==-1.6.0
dash-daq==0.5.0

# basic authentication
#dash-auth==1.4.1
# is work in progress. Using local dash_auth_personal
# import these specific for authentication
##requests==2.28.1
##ua_parser==0.16.1
##chart_studio==1.1.0
requests==2.32.3
ua_parser==0.18.0
chart_studio==1.1.0


# WEB DATA
#urllib3==1.26.9
##urllib3==1.26.15
urllib3==2.2.2
certifi

# RENDER SPECIFIC 
##gunicorn==20.1.0
gunicorn==22.0.0
